<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39043087257-gqmhgp54bu3kf6rt01cbunlos7gq1gha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39043087257-gqmhgp54bu3kf6rt01cbunlos7gq1gha</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>39043087257-32937dmujho35hgmf1s8qiru99bcjo45.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvpniT5SgLar83lr1J4zRrl0GdmuEhHkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>39043087257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tryfrutte.groceryapp</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-b0e60</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-b0e60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39043087257:ios:dd24a35effaadb00887108</string>
</dict>
</plist>