<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39043087257-6364qb3ftg9qthkna3nqlt0aoau38klh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39043087257-6364qb3ftg9qthkna3nqlt0aoau38klh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>39043087257-fkev6317v1t8ki2ihdl7ruruldobcqli.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvpniT5SgLar83lr1J4zRrl0GdmuEhHkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>39043087257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redginzr.userapp</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-b0e60</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-b0e60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39043087257:ios:a75beb8b856ca313887108</string>
</dict>
</plist>